.hero {
    background-image: url('../upload/amen.jpg'); /* Update the path based on your file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
   border-radius: 20px;
}

.overlay {
    background: rgba(22, 21, 21, 0.5); /* Dark overlay effect */
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room {
    background-image: url('../upload/dess.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
   border-radius: 20px;
}

.city {
    background-image: url('../upload/citysof.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
   border-radius: 20px;
}

.studio {
    background-image: url('../upload/newes.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
   border-radius: 20px;
}

.queen {
    background-image: url('../upload/EQRBED.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
   border-radius: 20px;
}

.garden {
    background-image: url('../upload/gardensof.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
   border-radius: 20px;
}

.gallery{
    background-image: url('../upload/dess.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
   border-radius: 20px;
}

