div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 2px;
  }
  
  div.scroll-container img {
    padding: 2px;
    width: auto;
    height: auto;
    max-width: 30%; /* Optional: ensures responsiveness */
    max-height: 30%;
  }
  